
body {
  color: #5A6378;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
  font-size: 24px;
}

header {
  background-color: #E6ECF0;
  min-height: 42vh;

  display: flex;
  align-items: center;

  text-align: center;
}

footer {
  margin: 40px 0px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo {
  display: block;

  width: 274px;
  height: 143px;

  margin: 20px auto;

  background: url(../images/logo.svg) no-repeat top left;
  background-size: contain;

}

.subtitle {
  font-size: 24px;
  animation-delay: 600ms;
}

.content {
  margin-top: 20px;
  animation-delay: 600ms;
}

.content pre code {
  overflow: scroll;
}


/*
 * Button Group
 */

.btn-group a {
    border: 1px solid #ccc;
    padding: 5px 24px;
    cursor: pointer;
    font-size: 12px;
    color: #777;
}


.btn-group a:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group a:hover, .btn.active {
    background-color: #eee;
}

.btn-group a:first-child{
  border-radius: 5px 0px 0px 5px;
}

.btn-group a:last-child{
  border-radius: 0px 5px 5px 0px;
}

@media (max-width: 570px) {
  .btn-group a {
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .btn-group a:not(:last-child) {
      border-right: 1px solid #ccc;
  }

  .btn-group a:first-child{
    border-radius: 5px;
  }

  .btn-group a:last-child{
    border-radius: 5px;
  }
}
